<div class="desk__globalTitle">
    Список ваших уведомлений
</div>

<div class="main__content">
    {{#each notification}}
        <div class="notification">
            <div class="notification__title-block">
                <div class="desk__title header2">{{title}}</div>
                <div>
                    {{#if isRead}}
                        <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7515 0.445781C14.0828 0.777135 14.0828 1.31437 13.7515 1.64572L4.84239 10.5548C4.51104 10.8862 3.97381 10.8862 3.64246 10.5548L0.248515 7.16087C-0.0828385 6.82952 -0.0828385 6.29229 0.248515 5.96093C0.579869 5.62958 1.1171 5.62958 1.44845 5.96093L4.24242 8.7549L12.5515 0.445781C12.8829 0.114427 13.4201 0.114427 13.7515 0.445781Z" fill="#4277FA"/>
                        </svg>
                    {{/if}}
                </div>
            </div>

            <div class="desk__description notification__description">
                {{{description}}}
            </div>

            {{#if hasButton}}
                {{{button}}}
            {{/if}}
        </div>
    {{/each}}

    <div class="plug">
        <svg width="43" height="46" viewBox="0 0 43 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.5097 0.975586C30.7134 0.975586 37.7561 8.68899 37.7561 18.45L37.7464 22.2825C37.7471 23.0897 38.2128 23.9225 39.4195 25.3427C39.563 25.5116 39.4146 25.3396 39.9903 26.0057C42.154 28.5091 43 29.9341 43 32.0997C43 32.4931 42.9879 32.7608 42.9347 33.1244C42.8548 33.6704 42.6981 34.2002 42.4394 34.7091C41.4749 36.6064 39.3927 37.6829 36.1829 37.6829H30.3286L30.2776 37.874C28.9682 42.528 25.9567 45.0244 21.5 45.0244C16.9831 45.0244 13.9507 42.46 12.6702 37.6841L6.81707 37.6829C3.51326 37.6829 1.4122 36.5789 0.491285 34.6202C0.262614 34.1338 0.125557 33.6303 0.056368 33.1084C0.010098 32.7594 0 32.5034 0 32.0997C0 29.9349 0.844372 28.51 3.00397 26.0067C3.5786 25.3407 3.43048 25.5127 3.57371 25.3438C4.77917 23.9224 5.2439 23.0893 5.2439 22.2808V18.4461C5.2439 8.69263 12.3029 0.975586 21.5097 0.975586ZM27.0439 37.6839H15.9561C16.9448 40.5706 18.724 41.878 21.5 41.878C24.276 41.878 26.0552 40.5706 27.0439 37.6839ZM21.5097 4.12193C14.1062 4.12193 8.39024 10.3708 8.39024 18.4461V22.2808C8.39024 24.0642 7.63274 25.4221 5.97331 27.3788C5.88403 27.4841 5.79067 27.5931 5.67793 27.724C5.53122 27.8941 5.53122 27.8941 5.38628 28.062C3.71127 30.0036 3.14634 30.9569 3.14634 32.0997C3.14634 32.6456 3.18824 32.9617 3.33863 33.2815C3.69299 34.0352 4.64712 34.5366 6.81707 34.5366H36.1829C38.2852 34.5366 39.2515 34.0369 39.6347 33.2832C39.8054 32.9475 39.8537 32.6178 39.8537 32.0997C39.8537 30.9577 39.2877 30.0044 37.6098 28.0631C37.4646 27.8952 37.4646 27.8952 37.3176 27.7251C37.2047 27.5942 37.1112 27.4852 37.0217 27.3799C35.3591 25.423 34.6001 24.065 34.6001 22.2808L34.6098 18.4461C34.6098 10.366 28.9087 4.12193 21.5097 4.12193Z" fill="#4277FA"/>
        </svg>

        <div class="plug__header">Это список ваших <span class="plug__header-blue">уведомлений</span></div>
        <div class="plug__text">
            На этой странице будут отображаться<br />
            все важные уведомления о взаимодействии<br />
            других пользователей с вами и с ваши<br />
            рабочими пространствами
        </div>
    </div>
</div>
