<div class="desk__globalTitle">
    Список ваших уведомлений
</div>

<div class="main__content">
    {{#each notification}}
        <div class="notification">
            <div class="desk__title header2">{{title}}</div>
            <div class="desk__description notification__description">
                {{{description}}}
            </div>

            {{#if hasButton}}
                {{{button}}}
            {{/if}}
        </div>
    {{/each}}
</div>
