{{> leftMenu}}
<div class="main {{#if pageStatus.isLeftMenu}}menu-open{{/if}} {{#unless pageStatus.isRightMenu}}active-tasks-open{{/unless}}">
    <div class="main__container" id="root">

    </div>
</div>
{{> rightMenu}}
{{> settings}}
