{{> leftMenu/leftMenu }}
{{> mobileHeader/mobileHeader }}
<div class="main {{#if pageStatus.isLeftMenu}}menu-open{{/if}} {{#unless pageStatus.isRightMenu}}active-tasks-open{{/unless}}">
    <div class="main__container" id="root">

    </div>
</div>
<div class="active-tasks">
    {{> rightMenu/rightMenu }}
</div>
{{> settings/settings }}
{{> createDesk/createDesk }}
