.auth__block_input {
	background-color: $gray-main-dark;
	width: 300px;
	height: 15px;
	border: 1px solid #dfe8ef;
	box-sizing: border-box;
	border-radius: 10px;
	margin: 7px 0;
	padding: 19px 15px;
	caret-color: $gray-text;
	font-family: Roboto, sans-serif;
	color: $gray-menu;

	&::placeholder {
		color: $gray-menu;
	}
	&:focus-visible {
		outline: 1px solid $blue-color;
	}
}

.auth__block > .auth__block_error {
	width: 258px;
	border: 1px solid #ff7e7e;
	line-height: 18px;
	padding: 10px 20px;
}
