<div class="createDesk__bg">
    <div class="createDesk">
        <div class="createDesk_header">
             <span class="header2">Создать доску</span>
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="createDesk__close">
                <path d="M0.90815 0.364066C1.25962 0.0125948 1.82947 0.0125948 2.18094 0.364067L7.27211 5.45524L12.3633 0.364066C12.7148 0.0125948 13.2846 0.0125948 13.6361 0.364066C13.9875 0.715538 13.9875 1.28539 13.6361 1.63686L8.5449 6.72803L13.6361 11.8192C13.9875 12.1707 13.9875 12.7405 13.6361 13.092C13.2846 13.4435 12.7148 13.4435 12.3633 13.092L7.27211 8.00082L2.18094 13.092C1.82947 13.4435 1.25962 13.4435 0.90815 13.092C0.556679 12.7405 0.556678 12.1707 0.90815 11.8192L5.99932 6.72803L0.90815 1.63686C0.556678 1.28539 0.556679 0.715538 0.90815 0.364066Z" fill="#2D2D2D"/>
            </svg>
        </div>
        <div class="createDesk__separator"></div>
        <div class="createDesk__settings">
            <input class="createDesk__settings_input" placeholder="Название доски" type="text">
            <textarea class="createDesk__settings_textarea" maxlength="150" placeholder="Описание доски"></textarea>
        </div>
        <div class="createDesk__buttons">
            <div class="createDesk__settings_save">
                Создать доску
            </div>
            <div class="createDesk__settings_cancel">
                Отменить
            </div>
        </div>
    </div>
</div>