.column {
	display: flex;
	position: relative;
	overflow-x: auto;
	padding: 0 15px;
	height: calc(100vh - 131px);

	@include media("max", "lg") {
		height: calc(100vh - 156px);
	}
}

.desk {

	&__listIcon {
		cursor: pointer;
	}
	&__column {
		cursor: default;
		position: absolute;

		&-block {
			min-width: 345px;
			height: calc(100vh - 150px);

			@include media("max", "lg") {
				min-width: 310px;
				height: calc(100vh - 180px);
			}
		}

		&-dragged {
			box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
			z-index: 150;
		}

		&-title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: -5px 0 0;
			padding-bottom: 8px;
			cursor: pointer;
		}

		@include media("max", "lg") {
			width: 250px;
			margin-left: 5px;
		}
	}
	&__title {

		&-input {
			font-weight: 500;
			font-size: 18px;
			line-height: 21px;
			letter-spacing: 0.02em;
			background: inherit;
			border: none;
			outline: none;
			padding: 3px 0;
			border-radius: 2px;
			cursor: pointer;

			&:focus {
				border-bottom: solid 2px $blue-color;
				margin-bottom: -2px;
				cursor: text;
			}

			@include media("max", "lg") {
				width: 220px;
			}
		}
	}
	&__new-task {
		display: flex;
		align-items: center;
		margin-top: 20px;
		cursor: pointer;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.02em;
		color: #7f7f7f;

		& > span {
			margin-left: 10px;
		}
	}
	&__task {
		margin: 12px 0;
		background: #e9f0f6;
		border-radius: $button-radius;
		padding: 12px 30px 12px 15px;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.02em;
		position: relative;

		&-dragged {
			box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
			position: absolute;
			width: 230px;
			z-index: 150;
		}
	}
	&__task-text {
		width: 100%;
		cursor: pointer;
		word-break: break-word;
	}
	&__task-close {
		position: absolute;
		right: 12px;
		top: 50%;
		margin-top: -8px;
		cursor: pointer;
	}
}
