<div class="column">
    <div class="desk desk__column">
        <div class="desk__column-title">
            <input class="desk__title-input header2" type="text" value="Нужно сделать">
            <svg width="16" height="4" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg" class="deleteButton">
                <path d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2ZM10 2C10 3.10457 9.10457 4 8 4C6.89543 4 6 3.10457 6 2C6 0.895431 6.89543 0 8 0C9.10457 0 10 0.895431 10 2ZM14 4C15.1046 4 16 3.10457 16 2C16 0.895431 15.1046 0 14 0C12.8954 0 12 0.895431 12 2C12 3.10457 12.8954 4 14 4Z" fill="#7F7F7F"/>
            </svg>
        </div>
        <div class="desk__task cardButton">
            Тут будет подробное описания таблицы и то зачем она.
        </div>
        <div class="desk__task">
            Верстка основных страниц приложения
        </div>
        <div class="desk__new-task">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 1L7 13" stroke="#7F7F7F" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                <path d="M13 7L1 7" stroke="#7F7F7F" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>
            <span>Добавить карточку</span>
        </div>
    </div>
    <div class="desk desk__column">
        <div class="desk__column-title">
            <input class="desk__title-input" type="text" value="Нужно сделать">
            <svg width="16" height="4" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2ZM10 2C10 3.10457 9.10457 4 8 4C6.89543 4 6 3.10457 6 2C6 0.895431 6.89543 0 8 0C9.10457 0 10 0.895431 10 2ZM14 4C15.1046 4 16 3.10457 16 2C16 0.895431 15.1046 0 14 0C12.8954 0 12 0.895431 12 2C12 3.10457 12.8954 4 14 4Z" fill="#7F7F7F"/>
            </svg>
        </div>
        <div class="desk__task">
            Тут будет подробное описания таблицы и то зачем она.
        </div>
        <div class="desk__task">
            Верстка основных страниц приложения
        </div>
        <div class="desk__new-task">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 1L7 13" stroke="#7F7F7F" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                <path d="M13 7L1 7" stroke="#7F7F7F" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>
            <span>Добавить карточку</span>
        </div>
    </div>
</div>