<div class="auth__form">
    <div class="auth__block">
        <div class="auth__block_header">
            404
        </div>
        <div class="auth__block_descp">
            К сожалению запрашиваемая Вами страница не найдена
        </div>
        <div>
            <a class="auth__block_link" href="login">Перейти на базовую страницу</a>
        </div>
    </div>
</div>