<a href="../board/{{IdB}}" class="active-tasks__part">
    <div class="active-tasks__icon-block">
        <svg width="94" height="94" viewBox="0 0 94 94" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_72_175)">
                <rect width="94" height="94" rx="20" fill="#EDEAFD"/>
                <path d="M40.9545 0C30.2301 1.87317 18.2935 7.2867 -2 16.2081V23.5279C20.5647 11.3286 33.8373 5.77188 59.5151 0H40.9545Z" fill="#BCB1E7"/>
                <path d="M77.5454 103C56.6758 75.8694 40.9643 63.3793 -2 51.2386V74.2437C21.417 82.6872 32.6461 88.8356 48.3788 103H77.5454Z" fill="#BCB1E7"/>
                <path d="M103 84.1777C85.2286 60.6735 43.6061 41.3046 38.8333 38.1675C34.0606 35.0305 77.495 41.4958 103 55.4213V84.1777Z" fill="#BCB1E7"/>
                <path d="M27.1667 29.2792C35.6515 34.5076 89.4258 30.1785 103 46.0102V19.868C74.0603 4.88877 18.6818 24.0508 27.1667 29.2792Z" fill="#BCB1E7"/>
                <path d="M72.4254 65.1057C78.705 69.9586 79.575 75.7501 78.9743 80.1314C78.3736 84.5127 69.0623 82.4361 62.7828 77.5833C56.5032 72.7304 56.375 67.0077 56.2339 62.5576C56.0928 58.1075 66.1458 60.2529 72.4254 65.1057Z" fill="#BCB1E7"/>
                <path d="M19.7667 36.7639C35.7257 44.8641 11.0885 46 0.383357 46C-10.3218 46 -19 41.8648 -19 36.7639C-19 31.6629 -14.1716 19.8405 0.383357 27.5277C14.9383 35.2149 3.80776 28.6636 19.7667 36.7639Z" fill="#BCB1E7"/>
            </g>
            <defs>
                <clipPath id="clip0_72_175">
                    <rect width="94" height="94" rx="20" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    </div>
    <div class="active-tasks__text-block">
        <p class="active-tasks__text-block-title">{{title}}</p>
        <p class="active-tasks__text-block-time">{{deadline}}</p>
    </div>
</a>
