.active-tasks {

	&__part {
		text-decoration: none;
		color: #000;
		display: flex;
		align-items: center;
		margin-top: 25px;
		position: relative;
		cursor: pointer;
	}

	&__icon {
		display: none;
		border-radius: 20px;

		&-block {
			display: flex;
			justify-content: center;
			align-items: center;

			&-1 > .icon-1 {
				display: block;
			}

			&-2 > .icon-2 {
				display: block;
			}

			&-3 > .icon-3 {
				display: block;
			}

			&-4 > .icon-4 {
				display: block;
			}

			&-5 > .icon-5 {
				display: block;
			}
		}
	}

	&__text-block {
		margin-left: 20px;

		&-time {
			color: #656f77;
			font-size: 13px;
		}
		&-title {
			font-size: 14px;
			margin-bottom: 15px;
			line-height: 20px;
		}
	}
}
