.active-tasks {
	&__part {
		text-decoration: none;
		color: #000;
		display: flex;
		align-items: center;
		margin-top: 25px;
		position: relative;
		cursor: pointer;
	}
	&__icon-block {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__text-block {
		margin-left: 20px;

		&-time {
			color: #656f77;
			font-size: 13px;
		}
		&-title {
			font-size: 14px;
			margin-bottom: 15px;
		}
	}
}
