<div class="delete__bg">
    <div class="delete">
            <span class="delete__header">
                Колонка "Нужно сделать"
            </span>
        <div class="delete__button">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.5 1.33936C14.6218 1.33936 16.0047 2.44077 16.448 4.46393L21.875 4.46436C22.3681 4.46436 22.7679 4.8641 22.7679 5.35721C22.7679 5.85032 22.3681 6.25007 21.875 6.25007H20.8884L19.4489 19.9233C19.3054 21.2866 18.1558 22.3215 16.785 22.3215H8.21502C6.84424 22.3215 5.69467 21.2866 5.55117 19.9233L4.11164 6.25007H3.12503C2.63192 6.25007 2.23218 5.85032 2.23218 5.35721C2.23218 4.8641 2.63192 4.46436 3.12503 4.46436L8.55205 4.46393C8.99541 2.44077 10.3783 1.33936 12.5 1.33936ZM19.092 6.25007H5.90718L7.32707 19.7364C7.3749 20.1908 7.75809 20.5358 8.21502 20.5358H16.785C17.242 20.5358 17.6252 20.1908 17.673 19.7364L19.092 6.25007ZM12.5 8.03578C12.9931 8.03578 13.3929 8.43553 13.3929 8.92864V17.8572C13.3929 18.3503 12.9931 18.7501 12.5 18.7501C12.0069 18.7501 11.6072 18.3503 11.6072 17.8572V8.92864C11.6072 8.43553 12.0069 8.03578 12.5 8.03578ZM16.116 8.0369C16.6085 8.06152 16.9878 8.48073 16.9632 8.97323L16.5168 17.9018C16.4922 18.3943 16.0729 18.7736 15.5804 18.749C15.0879 18.7243 14.7087 18.3051 14.7333 17.8126L15.1797 8.88405C15.2043 8.39156 15.6236 8.01227 16.116 8.0369ZM8.88402 8.0369C9.37651 8.01227 9.79572 8.39156 9.82035 8.88405L10.2668 17.8126C10.2914 18.3051 9.91212 18.7243 9.41962 18.749C8.92712 18.7736 8.50792 18.3943 8.48329 17.9018L8.03686 8.97323C8.01224 8.48073 8.39152 8.06152 8.88402 8.0369ZM12.5 3.12507C11.369 3.12507 10.7146 3.53053 10.3999 4.46396H14.6002C14.2855 3.53053 13.631 3.12507 12.5 3.12507Z" fill="#FF7E7E"/>
            </svg>
            <span class="delete__delete">
                Удалить колонку
            </span>
        </div>
    </div>
</div>