.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  border-radius: 8px;
  width: 600px;
  background-color: $white;

  &.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
  }

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 20%);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;

    &.active {
      pointer-events: all;
      opacity: 1;
      transition: 0.5s all;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 0;
    margin: 10px 0;
    font-size: 18px;

    &_descp {
        margin-left: 15px;
    }

    &_name {
      margin-left: 15px;
      font-weight: bold;
    }
  }

  &__column {
    padding: 0 10px 5px 55px;

    &_name {
      text-decoration: underline;
    }
  }

  &__descp {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 20px;
    background-color: #fff;
    margin: 10px;
    border-radius: 8px;
    color: $gray-text;
  }

  &__button {
    background-color: $blue-color;
    display: flex;
    align-items: center;
    border: 1px solid $blue-color;
    border-radius: 8px;
    font-size: 16px;
    color: $bg-color;
    padding: 10px 30px;
    margin: 15px;
  }
}