.createModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  width: 350px;
  background-color: #fff;
  border-radius: 8px;
  padding: 25px;
  flex-direction: column;

  &.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
  }

  &__bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 20%);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
    z-index: 100;
  }

  &__bg.active {
    pointer-events: all;
    opacity: 1;
    transition: 0.5s all;
  }

  &__separator {
    border-radius: 5px;
    background-color: $gray-menu;
    height: 1px;
    margin: 20px 0;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__settings{
    display: flex;
    flex-direction: column;
    color: $gray-text;

    &_input {
      background-color: $gray-main-dark;
      height: 36px;
      border: 2px solid #dfe8ef;
      box-sizing: border-box;
      border-radius: 10px;
      margin: 8px 0;
      padding: 15px;
      caret-color: $gray-text;
      font-family: Roboto, sans-serif;

      &::placeholder {
        color: $gray-menu;
      }

      &:focus-visible {
        outline-color: $blue-color;
      }
    }

    &_textarea {
      background-color: #fff;
      border: 2px solid #dfe8ef;
      box-sizing: border-box;
      border-radius: 10px;
      margin: 8px 0;
      padding: 15px;
      caret-color: $gray-text;
      font-family: Roboto, sans-serif;
      resize: none;
      height: 100px;

      &::placeholder {
        color: $gray-menu;
      }

      &:focus-visible {
        outline-color: $blue-color;
      }
    }

    &_save {
      background-color: $blue-color;
      display: flex;
      align-items: center;
      border: 2px solid $blue-color;
      border-radius: 8px;
      color: $bg-color;
      padding: 10px 30px;
      margin-top: 15px;
      justify-content: center;
    }

    &_cancel {
      background-color: $gray-main-dark;
      display: flex;
      align-items: center;
      border: 2px solid $gray-main-dark;
      border-radius: 8px;
      color: $gray-text;
      padding: 10px 30px;
      margin-top: 15px;
      justify-content: center;
    }
  }
}