<div class="active-tasks__title header2">
    <span>Важные задачи</span>
    <div class="toggle__block toggle__block_blue">
        <svg class="toggle__icon" id="active-closer" width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.89011 0.226718C7.61973 0.506622 7.59437 0.948913 7.81601 1.25924L7.88259 1.34038L12.4583 6.2125L0.75 6.2125C0.335786 6.2125 0 6.56507 0 7C0 7.40147 0.286114 7.73277 0.655921 7.78136L0.75 7.7875H12.4583L7.88259 12.6596C7.61601 12.9435 7.59663 13.3861 7.82245 13.6931L7.89011 13.7733C8.16049 14.0532 8.58204 14.0735 8.87442 13.8364L8.95074 13.7654L14.7841 7.55288C15.048 7.27182 15.07 6.83453 14.8501 6.52743L14.7841 6.44712L8.95074 0.234617C8.65994 -0.0750946 8.18507 -0.0786307 7.89011 0.226718Z" fill="#F8FAFD"/>
        </svg>
    </div>
</div>
<div class="active-tasks__block">
    {{#each tasks}}
        {{> activeTask/activeTask }}
    {{/each}}

    <div class="plug">
        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M34.4507 18.9357L38.4427 17.9853C39.9837 17.6183 40.5256 15.7037 39.4055 14.5836L25.9164 1.09453C24.7963 -0.025622 22.8816 0.516292 22.5147 2.05734L21.5643 6.04927L14.4051 13.2084L3.35047 14.1697C1.20791 14.356 0.259225 16.9604 1.77996 18.4811L10.8256 27.5267L0.444813 37.9074C-0.148272 38.5005 -0.14827 39.4621 0.444813 40.0552C1.03789 40.6483 1.99947 40.6483 2.59255 40.0552L12.9733 29.6744L22.0189 38.72C23.5396 40.2407 26.144 39.2921 26.3303 37.1495L27.2916 26.0949L34.4507 18.9357ZM24.3199 7.58911L15.7705 16.1385L4.69587 17.1015L23.3985 35.8041L24.3615 24.7295L32.9109 16.1801L35.9766 15.4502L25.0498 4.52344L24.3199 7.58911Z" fill="#4277FA"/>
            <path d="M15.7247 5.03249C15.7247 6.4304 14.5914 7.56363 13.1935 7.56363C11.7956 7.56363 10.6624 6.4304 10.6624 5.03249C10.6624 3.63458 11.7956 2.50135 13.1935 2.50135C14.5914 2.50135 15.7247 3.63458 15.7247 5.03249Z" fill="#4277FA"/>
        </svg>

        <div class="plug__header">Это ваши важные <span class="plug__header-blue">задачи</span></div>
        <div class="plug__text plug-tasks">
            Пометьте задачи важными,<br />
            чтобы не потерять их
        </div>
    </div>
</div>
