@charset "UTF-8";

body {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1;
	background: #f1f6fa;
}

.header1 {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}

.header2 {
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
}

.paragraph {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
}

.header_important {
	font-weight: 400;
	font-size: 14.5px;
	line-height: 17px;
}

.header_important {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.container {
	height: 100vh;
	width: 100%;
	background-color: var(--blue-color);
	display: flex;
}

.active-tasks__part {
	display: flex;
	align-items: center;
	margin-top: 25px;
	position: relative;
}
.active-tasks__part:hover::before {
	opacity: 1;
	transition: 0.3s;
}
.active-tasks__part::before {
	content: "Скоро в релизе";
	font-size: 20px;
	line-height: 90px;
	vertical-align: middle;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 0, 0, 0.3411764706);
	color: black;
	opacity: 0;
	transition: 0.3s;
}
.active-tasks__icon-block {
	display: flex;
	justify-content: center;
	align-items: center;
}
.active-tasks__text-block {
	margin-left: 20px;
}
.active-tasks__text-block-time {
	color: #656f77;
	font-size: 13px;
}
.active-tasks__text-block-title {
	font-size: 14px;
	margin-bottom: 15px;
}

.auth__block_button {
	background-color: #4277fa;
	border: 2px solid #4277fa;
	border-radius: 10px;
	width: 300px;
	height: 40px;
	color: #f1f6fa;
	font-size: 14px;
	margin-top: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.auth__block_button:hover {
	box-shadow: 0 0 7px #4277fa;
	transition: 0.3s;
}

.main {
	padding: 0 350px 0 75px;
	transition: 0.5s;
}
.main.menu-open {
	padding-left: 220px;
	transition: 0.5s;
}
.main.active-tasks-open {
	padding-right: 0;
	transition: 0.5s;
}
.main__container {
	display: block;
}
.main__cap {
	display: flex;
	justify-content: space-between;
	padding: 40px 30px 0;
	transition: 0.5s;
}
.main__cap.active-close {
	margin-right: 70px;
	transition: 0.5s;
}

.toggle__icon {
	transition: 0.5s;
}
.toggle__icon_open {
	transform: rotate(180deg);
	transition: 0.5s;
}

.search-new {
	display: flex;
}
.search-new * {
	cursor: not-allowed !important;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
	height: 40px;
	border-radius: 10px;
	background: #e2ecf4;
	margin-right: 30px;
}
.search__input {
	outline: none;
	border: none;
	background: #e2ecf4;
	margin-left: 15px;
	width: 220px;
}
.search__input::placeholder {
	color: #abb7c0;
	font-size: 15px;
	font-family: Roboto, sans-serif;
}

.button {
	line-height: 40px;
	padding: 0 30px;
	border-radius: 10px;
	background: #4277fa;
	font-size: 15px;
	color: #f8fafd;
	cursor: pointer;
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 25px;
	border-radius: 8px;
	width: 600px;
	background-color: #f8fafd;
}
.card.active {
	transform: translate(-50%, -50%) scale(1);
	transition: 0.5s all;
}
.card__bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
	opacity: 0;
	pointer-events: none;
	transition: 0.5s all;
}
.card__bg.active {
	pointer-events: all;
	opacity: 1;
	transition: 0.5s all;
}
.card__header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 10px 0;
	margin: 10px 0;
	font-size: 18px;
}
.card__header_descp {
	margin-left: 15px;
}
.card__header_name {
	margin-left: 15px;
	font-weight: bold;
}
.card__column {
	padding: 0 10px 5px 55px;
}
.card__column_name {
	text-decoration: underline;
}
.card__descp {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 15px 20px;
	background-color: #fff;
	margin: 10px;
	border-radius: 8px;
	color: #7f7f7f;
}
.card__button {
	background-color: #4277fa;
	display: flex;
	align-items: center;
	border: 1px solid #4277fa;
	border-radius: 8px;
	font-size: 16px;
	color: #f1f6fa;
	padding: 10px 30px;
	margin: 15px;
}

.main__content {
	height: 70vh;
	padding: 15px;
	margin-top: 15px;
	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;
}

.desk {
	background: #f8fafd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.0196078431);
	cursor: pointer;
	padding: 20px;
	margin: 15px;
	width: 275px;
}
.desk__title {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.02em;
}
.desk__description {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	margin: 20px 0;
	color: #9d9d9d;
}
.desk__date {
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.02em;
	color: #9d9d9d;
}

.toggle__block {
	background: #f8fafd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.0196078431);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	cursor: pointer;
}

.auth__decoration {
	background-color: #4277fa;
	height: 100%;
	width: 50%;
	position: relative;
	overflow: hidden;
}
.auth__svg {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -700px;
	margin-left: -500px;
}

.auth__block_error__block_error {
	width: 255px;
	font-size: 13px;
	background-color: #f1f6fa;
	display: flex;
	align-items: center;
	border: 2px solid #ff7e7e;
	border-radius: 10px;
	color: #ff7e7e;
	justify-content: space-evenly;
	margin-bottom: 10px;
	padding: 15px 20px;
}
.auth__block_error_text {
	width: 220px;
}

.auth__block_input {
	background-color: #e9f0f6;
	width: 300px;
	height: 15px;
	border: 2px solid #dfe8ef;
	box-sizing: border-box;
	border-radius: 10px;
	margin: 7px 0;
	padding: 15px;
	caret-color: #7f7f7f;
	font-family: Roboto, sans-serif;
}
.auth__block_input::placeholder {
	color: #abb7c0;
}
.auth__block_input:focus-visible {
	outline-color: #4277fa;
}

.header {
	background: #f8fafd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.0196078431);
	position: fixed;
	height: 100%;
	width: 75px;
	left: 0;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header_open {
	transition: 0.5s;
	width: 220px;
}
.header__logo {
	margin: 45px 0;
}
.header__menu-block {
	width: calc(100% - 75px + 44px);
	cursor: pointer;
}
.header__menu-part {
	width: 100%;
	height: 44px;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	color: #abb7c0;
}
.header__menu-part:hover {
	background: #f3f3f3;
}
.header__menu-part_active {
	background: #4277fa;
	color: #f8fafd;
}
.header__menu-part_active:hover {
	background: #4277fa;
}
.header__menu-part_deactive {
	cursor: not-allowed;
}
.header__menu-separator {
	background: #abb7c0;
	width: 100%;
	height: 1px;
	margin: 10px 0;
}
.header__part-block {
	position: absolute;
	height: 22px;
	bottom: calc(50% - 11px);
	left: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__icon {
	width: 22px;
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__menu-text {
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	margin-left: 12px;
	white-space: nowrap;
}

.column {
	display: flex;
	overflow-x: auto;
}

.desk__column {
	cursor: default;
}
.desk__column-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: -5px 0 18px;
}
.desk__title-input {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.02em;
	cursor: pointer;
	background: inherit;
	border: none;
	outline: none;
	padding: 3px 0;
	border-radius: 2px;
}
.desk__title-input:focus {
	border-bottom: solid 2px #4277fa;
	margin-bottom: -2px;
	cursor: text;
}
.desk__new-task {
	display: flex;
	align-items: center;
	margin-top: 20px;
	cursor: pointer;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #7f7f7f;
}
.desk__new-task > span {
	margin-left: 10px;
}
.desk__task {
	margin: 12px 0;
	background: #e9f0f6;
	border-radius: 10px;
	padding: 12px 15px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.02em;
}

.delete {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 250px;
	border-radius: 8px;
	font-size: 16px;
	padding: 20px 0;
	color: #2d2d2d;
	background: #fff;
}
.delete.active {
	transform: translate(-50%, -50%) scale(1);
	transition: 0.5s all;
}
.delete__bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
	opacity: 0;
	pointer-events: none;
	transition: 0.5s all;
}
.delete__bg.active {
	pointer-events: all;
	opacity: 1;
	transition: 0.5s all;
}
.delete__header {
	margin-bottom: 15px;
}
.delete__delete {
	margin-left: 10px;
}
.delete__button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #ff7e7e;
}

.auth__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 350px;
	align-items: center;
}
.auth__block_signup {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	width: 300px;
}
.auth__block_logo {
	margin: 20px;
}
.auth__block_header {
	font-size: 28px;
	color: #2d2d2d;
	margin-bottom: 20px;
}
.auth__block_header_blue {
	color: #4277fa;
}
.auth__block_header_form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.auth__block_descp {
	color: #7f7f7f;
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.auth__block_dont {
	color: #7f7f7f;
}
.auth__block_link {
	color: #4277fa;
	text-decoration: none;
}
.auth__block_check {
	height: 16px;
	width: 16px;
	background-color: #e9f0f6;
}
.auth__block_prompt {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 15px;
	background-color: #f1f6fa;
	border: 2px solid #dfe8ef;
	box-sizing: border-box;
	border-radius: 10px;
	color: #7f7f7f;
	text-align: left;
}
.auth__block_prompt_line {
	display: flex;
	align-items: center;
	margin: 10px 10px 0 0;
	width: 100%;
}
.auth__form {
	height: 100%;
	width: 50%;
	background-color: #f1f6fa;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.active-tasks {
	background: #f8fafd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.0196078431);
	position: fixed;
	height: 100%;
	left: calc(100vw - 350px);
	top: 0;
	width: 350px;
	transition: 0.5s;
}
.active-tasks .active-tasks__text-block-time {
	color: #656f77;
	font-size: 13px;
}
.active-tasks.close {
	left: 100vw;
	transition: 0.5s;
}
.active-tasks__title {
	font-size: 18px;
	line-height: 40px;
	font-weight: 500;
	padding: 40px 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.active-tasks__block {
	padding: 15px 30px 0;
	cursor: not-allowed;
}

.toggle__block_blue {
	background: #4277fa;
	position: fixed;
	top: 40px;
	right: 30px;
}

.settings {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	display: flex;
	width: 450px;
	background-color: #fff;
	border-radius: 8px;
	padding: 25px;
	flex-direction: column;
}
.settings.active {
	transform: translate(-50%, -50%) scale(1);
	transition: 0.5s all;
}
.settings__bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
	opacity: 0;
	pointer-events: none;
	transition: 0.5s all;
}
.settings__bg.active {
	pointer-events: all;
	opacity: 1;
	transition: 0.5s all;
}
.settings__photo {
	display: flex;
	font-size: 14px;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 0;
}
.settings__username {
	font-size: 22px;
	color: #2d2d2d;
	margin: 15px 0;
}
.settings__avatar {
	border-radius: 8px;
	margin-right: 20px;
	width: 134px;
	height: 134px;
}
.settings__avatar_settings {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 350px;
}
.settings__prompt {
	text-align: left;
	color: #7f7f7f;
	font-size: 13px;
	padding: 15px;
	border-radius: 8px;
	background-color: #e9f0f6;
	margin-bottom: 2px;
}
.settings__buttons {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	align-items: flex-start;
	justify-content: left;
	width: 300px;
}
.settings__buttons_upload {
	background-color: #4277fa;
	display: flex;
	align-items: center;
	border: 1px solid #4277fa;
	border-radius: 8px;
	color: #f1f6fa;
	padding: 7px 25px;
	margin-top: 10px;
	margin-right: 20px;
}
.settings__buttons_delete {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ff7e7e;
	border-radius: 8px;
	color: #ff7e7e;
	padding: 7px 25px;
	margin-top: 10px;
	width: 70px;
}
.settings__separator {
	border-radius: 5px;
	background-color: #abb7c0;
	height: 1px;
	margin: 20px 0;
}
.settings__settings {
	display: flex;
	flex-direction: column;
	color: #7f7f7f;
}
.settings__settings_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 22px;
}
.settings__settings_input {
	background-color: #e9f0f6;
	height: 36px;
	border: 2px solid #dfe8ef;
	box-sizing: border-box;
	border-radius: 10px;
	margin: 8px 0;
	padding: 15px;
	caret-color: #7f7f7f;
	font-family: Roboto, sans-serif;
}
.settings__settings_input::placeholder {
	color: #abb7c0;
}
.settings__settings_input:focus-visible {
	outline-color: #4277fa;
}
.settings__settings_save {
	background-color: #4277fa;
	display: flex;
	align-items: center;
	border: 2px solid #4277fa;
	border-radius: 8px;
	color: #f1f6fa;
	padding: 10px 30px;
	margin-top: 15px;
	margin-right: 30px;
	justify-content: center;
}
.settings__settings_cancel {
	background-color: #e9f0f6;
	display: flex;
	align-items: center;
	border: 2px solid #e9f0f6;
	border-radius: 8px;
	color: #7f7f7f;
	padding: 10px 30px;
	margin-top: 15px;
	justify-content: center;
}

/*# sourceMappingURL=style.css.map */
