/* reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--blue-color: #4277fa;
	--bg-color: #f1f6fa;
	--white: #f8fafd;
	--menu-gray: #abb7c0;
	--gray-color: #9d9d9d;
	--menu-width: 75px;
	--active-task: 350px;
	--top-margin: 45px;
	--button-radius: 10px;
	--time-anim: 0.5s;
	--shadow: 0 0 10px #00000005;
	--gray-text: #7f7f7f;
	--gray-main-dark: #e9f0f6;
	--gray-menu: #abb7c0;
	--error: #ff7e7e;
	--black-text: #2d2d2d;
}

body {
	line-height: 1;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	background: var(--bg-color);
}

.main {
	padding: 0 var(--active-task) 0 var(--menu-width);
	transition: var(--time-anim);
}

.main.menu-open {
	padding-left: 220px;
	transition: var(--time-anim);
}

.main.active-tasks-open {
	padding-right: 0;
	transition: var(--time-anim);
}

.main__container {
	width: 100%;
}

.main__cap {
	display: flex;
	justify-content: space-between;
	padding: calc(var(--top-margin) - 5px) 30px 0;
	transition: var(--time-anim);
}

.main__cap.active-close {
	margin-right: 70px;
	transition: var(--time-anim);
}

.main__content {
	height: 70vh;
	padding: 15px;
	margin-top: 15px;
	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;
}

.desk {
	background: var(--white);
	border-radius: var(--button-radius);
	box-shadow: var(--shadow);
	cursor: pointer;
	padding: 20px;
	margin: 15px;
	width: 275px;
}

.desk__title {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.02em;
}

.desk__description {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	margin: 20px 0;
	color: var(--gray-color);
}

.desk__date {
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.02em;
	color: var(--gray-color);
}

.toggle__block {
	background: var(--white);
	box-shadow: var(--shadow);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	cursor: pointer;
}

.toggle__icon {
	transition: var(--time-anim);
}

.toggle__icon_open {
	transform: rotate(180deg);
	transition: var(--time-anim);
}

.search-new {
	display: flex;
}

.search-new * {
	cursor: not-allowed !important;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
	height: 40px;
	border-radius: var(--button-radius);
	background: #e2ecf4;
	margin-right: 30px;
}

.search__input {
	outline: none;
	border: none;
	background: #e2ecf4;
	margin-left: 15px;
	width: 220px;
}

.search__input::placeholder {
	color: #abb7c0;
	font-size: 15px;
	font-family: Roboto, sans-serif;
}

.button {
	line-height: 40px;
	padding: 0 30px;
	border-radius: var(--button-radius);
	background: var(--blue-color);
	font-size: 15px;
	color: var(--white);
	cursor: pointer;
}

.header {
	background: var(--white);
	box-shadow: var(--shadow);
	position: fixed;
	height: 100%;
	width: var(--menu-width);
	left: 0;
	transition: var(--time-anim);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header_open {
	transition: var(--time-anim);
	width: 220px;
}

.header__logo {
	margin: var(--top-margin) 0;
}

.header__menu-block {
	--button-size: 44px;

	width: calc(100% - var(--menu-width) + var(--button-size));
	cursor: pointer;
}

.header__menu-part {
	width: 100%;
	height: var(--button-size);
	overflow: hidden;
	position: relative;
	border-radius: var(--button-radius);
	color: #abb7c0;
}

.header__menu-separator {
	background: var(--menu-gray);
	width: 100%;
	height: 1px;
	margin: 10px 0;
}

.header__menu-part_active {
	background: var(--blue-color);
	color: var(--white);
}

.header__menu-part:hover {
	background: #f3f3f3;
}

.header__menu-part_active:hover {
	background: var(--blue-color);
}

.header__menu-part_deactive {
	cursor: not-allowed;
}

.header__part-block {
	position: absolute;
	height: calc(var(--button-size) / 2);
	bottom: calc(50% - var(--button-size) / 4);
	left: calc(var(--button-size) / 4);
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__icon {
	width: calc(var(--button-size) / 2);
	height: calc(var(--button-size) / 2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__menu-text {
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	margin-left: calc(var(--button-size) / 4 + 1px);
	white-space: nowrap;
}

.active-tasks {
	background: var(--white);
	box-shadow: var(--shadow);
	position: fixed;
	height: 100%;
	left: calc(100vw - var(--active-task));
	top: 0;
	width: var(--active-task);
	transition: var(--time-anim);
}

.active-tasks.close {
	left: 100vw;
	transition: var(--time-anim);
}

.active-tasks__title {
	font-size: 18px;
	line-height: 40px;
	font-weight: 500;
	padding: calc(var(--top-margin) - 5px) 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.toggle__block_blue {
	background: var(--blue-color);
	position: fixed;
	top: 40px;
	right: 30px;
}

.active-tasks__block {
	padding: 15px 30px 0;
	cursor: not-allowed;
}

.active-tasks__part {
	display: flex;
	align-items: center;
	margin-top: 25px;
	position: relative;
}

.active-tasks__part::before {
	content: "Скоро в релизе";
	font-size: 20px;
	line-height: 90px;
	vertical-align: middle;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #ff000057;
	color: black;
	opacity: 0;
	transition: 0.3s;
}

.active-tasks__part:hover::before {
	opacity: 1;
	transition: 0.3s;
}

.active-tasks__icon-block {
	display: flex;
	justify-content: center;
	align-items: center;
}

.active-tasks__text-block {
	margin-left: 20px;
}

.active-tasks__text-block-title {
	font-size: 14px;
	margin-bottom: 15px;
}

.active-tasks__text-block-time {
	color: #656f77;
	font-size: 13px;
}

.settings__bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgb(0 0 0 / 20%);
	opacity: 0;
	pointer-events: none;
	transition: 0.5s all;
}

.settings__bg.active {
	pointer-events: all;
	opacity: 1;
	transition: 0.5s all;
}

.settings {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	display: flex;
	width: 450px;
	background-color: #fff;
	border-radius: 8px;
	padding: 25px;
	flex-direction: column;
}

.settings.active {
	transform: translate(-50%, -50%) scale(1);
	transition: 0.5s all;
}

.settings__photo {
	display: flex;
	font-size: 14px;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 0;
}

.settings__username {
	font-size: 22px;
	color: var(--black-text);
	margin: 15px 0;
}

.settings__avatar {
	border-radius: 8px;
	margin-right: 20px;
	width: 134px;
	height: 134px;
}

.settings__avatar_settings {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 350px;
}

.settings__prompt {
	text-align: left;
	color: var(--gray-text);
	font-size: 13px;
	padding: 15px;
	border-radius: 8px;
	background-color: var(--gray-main-dark);
	margin-bottom: 2px;
}

.settings__buttons {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	align-items: flex-start;
	justify-content: left;
	width: 300px;
}

.settings__buttons_upload {
	background-color: var(--blue-color);
	display: flex;
	align-items: center;
	border: 1px solid var(--blue-color);
	border-radius: 8px;
	color: var(--bg-color);
	padding: 7px 25px;
	margin-top: 10px;
	margin-right: 20px;
}

.settings__buttons_delete {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--error);
	border-radius: 8px;
	color: var(--error);
	padding: 7px 25px;
	margin-top: 10px;
	width: 70px;
}

.settings__separator {
	border-radius: 5px;
	background-color: var(--gray-menu);
	height: 1px;
	margin: 20px 0;
}

.settings__settings_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 22px;
}

.settings__settings {
	display: flex;
	flex-direction: column;
	color: var(--gray-text);
}

.settings__settings_input {
	background-color: var(--gray-main-dark);
	height: 36px;
	border: 2px solid #dfe8ef;
	box-sizing: border-box;
	border-radius: 10px;
	margin: 8px 0;
	padding: 15px;
	caret-color: var(--gray-text);
	font-family: Roboto, sans-serif;
}

.settings__settings_input::placeholder {
	color: var(--gray-menu);
}

.settings__settings_input:focus-visible {
	outline-color: var(--blue-color);
}

.settings__settings_save {
	background-color: var(--blue-color);
	display: flex;
	align-items: center;
	border: 2px solid var(--blue-color);
	border-radius: 8px;
	color: var(--bg-color);
	padding: 10px 30px;
	margin-top: 15px;
	margin-right: 30px;
	justify-content: center;
}

.settings__settings_cancel {
	background-color: var(--gray-main-dark);
	display: flex;
	align-items: center;
	border: 2px solid var(--gray-main-dark);
	border-radius: 8px;
	color: var(--gray-text);
	padding: 10px 30px;
	margin-top: 15px;
	justify-content: center;
}

.delete__bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgb(0 0 0 / 20%);
	opacity: 0;
	pointer-events: none;
	transition: 0.5s all;
}

.delete {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 250px;
	border-radius: 8px;
	font-size: 16px;
	padding: 20px 0;
	color: var(--black-text);
	background: #fff;
}

.delete__bg.active {
	pointer-events: all;
	opacity: 1;
	transition: 0.5s all;
}

.delete.active {
	transform: translate(-50%, -50%) scale(1);
	transition: 0.5s all;
}

.delete__header {
	margin-bottom: 15px;
}

.delete__delete {
	margin-left: 10px;
}

.delete__button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: var(--error);
}

.column {
	display: flex;
	overflow-x: auto;
}

.desk__column {
	cursor: default;
}

.desk__column-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: -5px 0 18px;
}

.desk__title-input {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.02em;
	cursor: pointer;
	background: inherit;
	border: none;
	outline: none;
	padding: 3px 0;
	border-radius: 2px;
}

.desk__title-input:focus {
	border-bottom: solid 2px var(--blue-color);
	margin-bottom: -2px;
	cursor: text;
}

.desk__new-task {
	display: flex;
	align-items: center;
	margin-top: 20px;
	cursor: pointer;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #7f7f7f;
}

.desk__new-task > span {
	margin-left: 10px;
}

.desk__task {
	margin: 12px 0;
	background: #e9f0f6;
	border-radius: var(--button-radius);
	padding: 12px 15px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.02em;
}

.card__bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgb(0 0 0 / 20%);
	opacity: 0;
	pointer-events: none;
	transition: 0.5s all;
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 25px;
	border-radius: 8px;
	width: 600px;
	background-color: var(--white);
}

.card__bg.active {
	pointer-events: all;
	opacity: 1;
	transition: 0.5s all;
}

.card.active {
	transform: translate(-50%, -50%) scale(1);
	transition: 0.5s all;
}

.card__header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 10px 0;
	margin: 10px 0;
	font-size: 18px;
}

.card__header_name {
	margin-left: 15px;
	font-weight: bold;
}

.card__column {
	padding: 0 10px 5px 55px;
}

.card__column_name {
	text-decoration: underline;
}

.card__header_descp {
	margin-left: 15px;
}

.card__descp {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 15px 20px;
	background-color: #fff;
	margin: 10px;
	border-radius: 8px;
	color: var(--gray-text);
}

.card__button {
	background-color: var(--blue-color);
	display: flex;
	align-items: center;
	border: 1px solid var(--blue-color);
	border-radius: 8px;
	font-size: 16px;
	color: var(--bg-color);
	padding: 10px 30px;
	margin: 15px;
}
