<div class="main__content">
    {{#each boards}}
        <div class="desk">
            <div class="desk__title header2">{{title}}</div>
            <div class="desk__description">
                {{description}}
            </div>
            <div class="desk__date">
                {{date}}
            </div>
        </div>
    {{/each}}
</div>