<div class="settings__bg">
    <div class="settings">
        <div class="settings__settings_header">
            Настройки аккаунта
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="settings__close">
                <path d="M0.90815 0.364066C1.25962 0.0125948 1.82947 0.0125948 2.18094 0.364067L7.27211 5.45524L12.3633 0.364066C12.7148 0.0125948 13.2846 0.0125948 13.6361 0.364066C13.9875 0.715538 13.9875 1.28539 13.6361 1.63686L8.5449 6.72803L13.6361 11.8192C13.9875 12.1707 13.9875 12.7405 13.6361 13.092C13.2846 13.4435 12.7148 13.4435 12.3633 13.092L7.27211 8.00082L2.18094 13.092C1.82947 13.4435 1.25962 13.4435 0.90815 13.092C0.556679 12.7405 0.556678 12.1707 0.90815 11.8192L5.99932 6.72803L0.90815 1.63686C0.556678 1.28539 0.556679 0.715538 0.90815 0.364066Z" fill="#2D2D2D"/>
            </svg>
        </div>
        <div class="settings__separator"></div>
        <div class="settings__photo">
            <img src="image.jpg" alt="" class="settings__avatar">
            <div class="settings__avatar_settings">
                <div class="settings__prompt">
                    Чтобы поставленные задачи стали узнаваемыми и легко отличимыми от других, рекомендуем вам установить аватар.
                </div>
                <div class="settings__buttons">
                    <div class="settings__buttons_upload">
                        Загрузить
                    </div>
                    <div class="settings__buttons_delete">
                        Удалить
                    </div>
                </div>
            </div>
        </div>
        <div class="settings__separator"></div>
        <div class="settings__settings">
            <input class="settings__settings_input" placeholder="MaksimGalkin" type="text">
            <input class="settings__settings_input" placeholder="Старый пароль" type="text">
            <input class="settings__settings_input" placeholder="Новый пароль" type="text">
            <input class="settings__settings_input" placeholder="Повторите пароль" type="text">
        </div>
        <div class="settings__buttons">
            <div class="settings__settings_save">
                Сохранить
            </div>
            <div class="settings__settings_cancel">
                Отменить
            </div>
        </div>
    </div>
</div>