<div class="desk">
    <div class="desk__title">{{deskTitle}}</div>
    <div class="desk__description">
       {{deskDescp}}
    </div>
    <div class="desk__date">
        {{deskDate}}
    </div>
</div>
