<div class="Desk">
    <div class="Desk__title">{{deskTitle}}</div>
    <div class="Desk__description">
       {{deskDescp}}
    </div>
    <div class="Desk__date">
        {{deskDate}}
    </div>
</div>